  
version: 2.1

parameters:
  orbname:
    type: string
    default: "queue"
    description: Change this to whatever name is correct for your orb.

workflows:
  build-deploy:
    jobs:
      - validate
      - test:
          requires: 
            - validate
          context: orbs
      - publish:
          requires:
            - test
          filters:
            branches:
              only: master

jobs:
  validate:
    docker:
      - image: cimg/base:2019.08
    working_directory: ~/repo
    steps:
      - checkout
      - install-circleci
      - pack-and-validate
  test:
    docker:
      - image: cimg/base:2019.08
    working_directory: ~/repo
    steps:
      - checkout
      - install-circleci
      - pack-and-validate
      - run:
          name: Publish Dev
          command: |
            PUBLISH_MESSAGE=`circleci orb publish packed.yml eddiewebb/<<pipeline.parameters.orbname>>@dev:${CIRCLE_BRANCH}-${CIRCLE_SHA1} --token ${CIRCLECI_API_KEY}`
            ORB_VERSION=$(echo $PUBLISH_MESSAGE | sed -n 's/Orb `\(.*\)` was published.*/\1/p')
            echo "export ORB_VERSION=\"${ORB_VERSION}\"" >> $BASH_ENV
            echo $ORB_VERSION
      - install-bats
      - run:
          name: Import Tests using BATS
          command: |
            export BATS_IMPORT_DEV_ORB="eddiewebb/<<pipeline.parameters.orbname>>@dev:${CIRCLE_BRANCH}-${CIRCLE_SHA1}"
            bats test
      - run:
          name: Publish Dev version to PR
          command: |
            if [ "$CIRCLE_PR_NUMBER" != "" ];then
              echo "PR_NUMBER is ${CIRCLE_PR_NUMBER}"
            else
              CIRCLE_PR_NUMBER=$(echo $CIRCLE_PULL_REQUEST | sed -n 's/.*\/pull\/\([0-9]*\)/\1/p')
              if [ "$CIRCLE_PR_NUMBER" == "" ];then
                echo "No pr found, do nothing"
                exit 0
              fi
            fi
            curl -X POST -u eddiewebb:${GHI_TOKEN} "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/issues/${CIRCLE_PR_NUMBER}/comments" -d "{\"body\":\"Dev version of orb available for testing - \`${ORB_VERSION}\`\"}"
  publish:
    docker:
      - image: cimg/base:2019.08
    working_directory: ~/repo
    steps:
      - checkout
      - install-circleci
      - run:
          name: Grab Commit Info
          command: |
            curl "https://circleci.com/api/v1.1/project/gh/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/${CIRCLE_BUILD_NUM}?circle-token=${CIRCLECI_API_KEY}" > build_info.txt            
      - run:
          name: Promote to prod
          command: |
            SEMVER_INCREMENT=`jq -r '.subject' build_info.txt | sed -En 's/.*\[semver:(major|minor|patch)\].*/\1/p'`
            if [ -z ${SEMVER_INCREMENT} ];then
              echo "Merge commit did not indicate which SemVer increment to make. Please ammend commit with [semver:FOO] where FOO is major, minor, or patch"
              exit 1
            fi
            PUBLISH_MESSAGE=`circleci orb publish promote eddiewebb/<<pipeline.parameters.orbname>>@dev:${CIRCLE_BRANCH}-${CIRCLE_SHA1} ${SEMVER_INCREMENT} --token ${CIRCLECI_API_KEY}`
            echo $PUBLISH_MESSAGE
            ORB_VERSION=$(echo $PUBLISH_MESSAGE | sed -n 's/Orb .* was promoted to `\(.*\)`.*/\1/p')
            echo "export ORB_VERSION=\"${ORB_VERSION}\"" >> $BASH_ENV
      - run:
          name: Publish Prod version to PR
          command: |
            PR_NUMBER=`jq -r '.subject' build_info.txt | sed -n 's/Merge pull request #\([0-9]*\) from.*/\1/p'`
            echo "PR_NUMBER is ${PR_NUMBER}"
            if [ "$PR_NUMBER" == "" ];then
              echo "No pr found, do nothing"
              exit 0
            fi
            curl -X POST -u eddiewebb:${GHI_TOKEN} "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/issues/${PR_NUMBER}/comments" -d "{\"body\":\"*Production* version of orb available for use - \`${ORB_VERSION}\`\"}"
commands:
  install-bats:
    description: installs the BATS bash testing tool
    steps:
      - run:      
          name: Install BATS (bash testing)
          command: |
            cd /tmp && git clone https://github.com/bats-core/bats-core.git && cd bats-core
            ./install.sh /usr/local
      - run:
          name: Install YQ
          command: |
            curl -L https://github.com/mikefarah/yq/releases/download/2.1.1/yq_linux_amd64 -o yq
            chmod a+x yq
            mv yq /usr/local/bin/
  install-circleci:
    description: installs the new CIrcleCI CLI with orb support
    steps:
      - run: 
          name: Install CircleCI CLI (the new one)
          command: |
            curl https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh --fail --show-error | bash
            circleci version
            echo "Run circleci help"              
            circleci help
            echo -e "token: ${CIRCLECI_API_KEY}\nverbose: false" > ~/.circleci/cli.yml
  pack-and-validate:
    description: pack directory to single file and validate
    steps:
      - run:
          name: Pack and Validate
          command: |
            circleci config pack src/ > packed.yml
            circleci orb validate packed.yml